<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <!--<intercept-url pattern="/" access="hasRole('ROLE_ADMIN')" />-->
        <intercept-url pattern="/" access="permitAll" />
        <form-login
                login-page="/login"
                default-target-url="/"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password"

        />
        <logout logout-success-url="/login?logout" />
        <access-denied-handler error-page="/403"/>

        <!-- enable csrf protection -->
        <csrf token-repository-ref="csrfTokenRepository" />

    </http>

    <beans:bean id="csrfTokenRepository" class="org.springframework.security.web.csrf.HttpSessionCsrfTokenRepository">
        <beans:property name="headerName" value="X-XSRF-TOKEN" />
    </beans:bean>

    <beans:bean id="customUserService" class="sample.service.CustomUserService" />

    <authentication-manager>
        <authentication-provider user-service-ref="customUserService">
        </authentication-provider>
    </authentication-manager>

</beans:beans>